app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/urls.cpython-312.pyc
app/__pycache__/settings.cpython-312.pyc
app/__pycache__/wsgi.cpython-312.pyc
main/__pycache__/__init__.cpython-312.pyc
main/__pycache__/admin.cpython-312.pyc
main/__pycache__/apps.cpython-312.pyc
main/__pycache__/models.cpython-312.pyc
main/__pycache__/views.cpython-312.pyc
main/migrations/__pycache__/__init__.cpython-312.pyc
www.py
db.sqlite3
goods/__pycache__/views.cpython-312.pyc
media/
